<div class="list">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Items List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveItem(tutorial, i)"
        ><strong>
          {{ tutorial.description }}
        </strong>
        </li>
      </ul>    
    </div>
    <div class="col-md-6">
      <app-tutorial-details
        [viewMode]="viewMode"
        [currentTutorial]="currentTutorial"
      ></app-tutorial-details>
    </div>
  </div>  
</div>
