<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">
      <img src="assets/LOGO.png" class="mr-2" alt="Clean UI" style="width: 50px; height: 48px">
    </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Space Land</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Alien</a>
      </li>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
