<div *ngIf="viewMode">
  <div class="card" >
    <div class="card-header">
      <div *ngIf="viewMode; else editable">
        <div *ngIf="currentTutorial.id">
          <h4>Tutorial</h4>
          <div>
            <label><strong>Name:</strong></label> {{ currentTutorial.name }}
          </div>
          <div>
            <label><strong>Description:</strong></label>
            {{ currentTutorial.description }}
          </div>
          <br>
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <a
              class="badge badge-warning"
                routerLink="/tutorials/{{ currentTutorial.id }}"
            >
              Edit
            </a>
            &nbsp;
              <button
              class="badge badge-danger"
              (click)="deleteTutorial()"
            >
              Delete
              </button>
            </div>
          </div>
        
        </div>
  
        <div *ngIf="!currentTutorial">
          <br />
          <p>Please click on a Tutorial...</p>
        </div>
      </div>
  
      <ng-template #editable>
        <div *ngIf="currentTutorial.id" class="edit-form">
          <h4>Tutorial</h4>
          <form>
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                [(ngModel)]="currentTutorial.title"
                name="title"
              />
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                [(ngModel)]="currentTutorial.description"
                name="description"
              />
            </div>
  
            <div class="form-group">
              <label><strong>Status:</strong></label>
              {{ currentTutorial.published ? "Published" : "Pending" }}
            </div>
          </form>
  
          <button
            class="badge badge-primary mr-2"
            *ngIf="currentTutorial.published"
            (click)="updatePublished(false)"
          >
            UnPublish
          </button>
          <button
            *ngIf="!currentTutorial.published"
            class="badge badge-primary mr-2"
            (click)="updatePublished(true)"
          >
            Publish
          </button>
  
          <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
            Delete
          </button>
  
          <button
            type="submit"
            class="badge badge-success mb-2"
            (click)="updateTutorial()"
          >
            Update
          </button>
          <p>{{ message }}</p>
        </div>
  
        <div *ngIf="!currentTutorial.id">
          <br />
          <p>Cannot access this Tutorial...</p>
        </div>
      </ng-template>
    </div>
  </div>   
  
</div>